{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<h2>{{ empresa.nome }}</h2>
 
<p><strong>Segmento:</strong> {{ empresa.segmento }}</p>
<p><strong>Modalidade:</strong> {{ empresa.modalidade }}</p>
<p><strong>Representantes:</strong></p>
<ul class="list-group">
    {% for rep in empresa.representantes.all %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <strong>{{ rep.nome }}</strong><br>
                <small>{{ rep.email }} — {{ rep.cargo }} - {{ rep.telefone }}</small>
            </div>

            <div>
                <a href="{% url 'core:representante_editar' rep.id %}" class="btn btn-warning btn-sm">
                    Editar
                </a>
                <a href="{% url 'core:representante_excluir' rep.id %}" class="btn btn-danger btn-sm">
                    Excluir
                </a>
            </div>
        </li>
    {% endfor %}
</ul>

<p><strong>Site:</strong> <a href="{{ empresa.site }}">{{ empresa.site }}</a></p>

<a href="{% url 'core:empresa_list' %}" class="btn btn-secondary">Voltar</a>

<a href="{% url 'core:representante_novo' empresa.id %}" class="btn btn-success">
    Adicionar Representante
</a>

<a href="{% url 'core:representante_importar' empresa.id %}" class="btn btn-outline-secondary">
    Importar Representantes
</a>

<a href="{% url 'core:empresa_update' empresa.id %}" class="btn btn-outline-warning">Editar empresa</a>
{% endblock %}
