{% extends "core/base.html" %}
{% load static %}
{% block content %}

<h2>Detalhes — {{ evento.nome }}</h2>
<h4>Ranking de Afinidades </h4>
<a href="{% url 'core:evento_detail' evento.id %}" class="btn btn-secondary mb-3">Voltar</a>
{% for item in ranking %}
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <strong>{{ item.comprador.nome }}</strong>
        </div>

        <ul class="list-group list-group-flush">
            {% for vendedor, score in item.melhores %}
                <li class="list-group-item d-flex justify-content-between">
                    <span>{{ vendedor.nome }}</span>
                    <span class="badge bg-success">{{ score }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
{% endblock %}
