{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<h2>Editar Rodada: {{ rodada.nome }}</h2>
    
<form method="post" class="mt-3">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" name="nome" class="form-control" value="{{ rodada.nome }}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Duração (minutos)</label>
        <input type="number" name="duracao" class="form-control" value="{{ rodada.duracao }}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Hora de Início</label>
        <input type="time" name="inicio_ro" class="form-control" value="{{ rodada.inicio_ro|time:'H:i' }}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Hora de Fim</label>
        <input type="time" name="fim_ro" class="form-control" value="{{ rodada.fim_ro|time:'H:i' }}" required>
    </div>

    <button class="btn btn-primary">Salvar Alterações</button>
    <a href="{% url 'core:rodadas_list' evento.id %}" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}
